/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

/* Question Component Styles */
.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;
}

.question input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.question input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

/* Save and Load Button Styles */
button + button {
    margin-left: 10px;
}

.SaveButton {
    background-color: #007BFF;
    color: #fff;
}

.LoadButton {
    background-color: #28a745;
    color: #fff;
}

button.reset-all {
    background-color: #FF4136;
    color: #fff;
}

.print-hide {
    display: none !important;
}
  
.uploaded-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.answer-textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    margin-top: 5px;
    resize: none; /* Disables the resize handle */
    cursor: pointer; /* Indicates it's clickable */
}
